#footer {
    background-color: orange;
}

.texto {
    color: orange;
    text-align: center;
    font-size: x-large;
    font-family: papyrus;
}

.texto2 {
    font-family: papyrus;
    font-size: x-large;
}

body {
    background-image: url(../img/plantas.jpg);
    margin: 0%;
}

.accordion {
    accordion-color: orange
}