.cont {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
}

.texto {
    color: orange;
}

#footer {
    background-color: orange;
}

body {
    background-image: url(../img/plantas.jpg);
}

.mapa {
    width: 55vw;
    height: 65vh;
    margin-top: 3em;
}