#footer {
    background-color: orange;
}

body {
    background-image: url(../img/selva20.JPG);
}

.texto {
    color: orange;
    text-align: center;
    font-size: larger;
    font-family: true;
}

.comida {
    border-radius: 100%;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}