#footer {
    background-color: orange;
}

.texto {
    color: orange;
    text-align: center;
    font-size: x-large;
    font-family: papyrus;
}

.comida {
    border-radius: 100%;
    width: 15em;
    height: 15em;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.cuerpo {
    background-image: url(../img/plantas.jpg);
}

.cuerposuperior {
    background-color: rgb(16, 13, 13);
}

.hakuna {
    border: 0.1em solid orange;
}

body {
    margin: 0;
    padding: 0;
}

p {
    color: orange;
    text-align: center;
    font-size: x-large;
    font-family: papyrus;
}